body {
background-size: cover;
background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-business-game-laptop-e-commerce-poster-banner-image_192358.jpg);
background-size: 130%;
background-repeat: no-repeat;
background-position: center;

}